
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Germain Roussez">
    <title>StackOverflow Tag Predictor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>

  <body class="d-flex flex-column h-100 w-100" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSl3L4sjmsywy-yPgsOh2MpE-VPLYdteQgsMw&usqp=CAU'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
    <!-- Begin page content -->
    <main class="flex-shrink-0">
      <div class="container mt-3" style="color:white;font-weight: bold">
        <br>
        <h1><center>Stack-Overflow Tag Predictor </center></h1>
        <br><br>  
      </div>
      <div class="container">
        <form action="/predict" method="post">
          <left><h5 style="color:white;font-weight: bold"> Please enter a Title And Content of a Question here </h5></left>
          <br>
          <div class="form-group">
            <input type="text" class="form-control" id="exampleInputEmail1" name="Qtitle" aria-describedby="emailHelp" placeholder="Question's title">
          </div>
          <div class="form-group">
            <textarea class="form-control p-4" id="exampleFormControlTextarea1"  rows="20" cols="50" wrap="hard" name="Qbody" placeholder="Question's body"></textarea>
          </div>
          <div class="form-row">
            <input type="submit" value="Predict" class="btn btn-success">
          </div>
        </form>
        <br>
        <h5><span id='prediction_text' style="color:white;font-weight: bold">{{ desc }}</span>
        <span id='' style="color:white;font-weight: bold">{{ prediction_text }}</span></h5>
      </div>
    </main>
  </body>
</html>
